.feed-container {
  margin:20px;
}

.button-menu {
  text-decoration: none;
  color: white;
}


.button-menu:hover {
  text-decoration: none;
  color: white;
}


.button-menu:visited {
  text-decoration: none;
  color: white;
}
