.notewelHP {
  margin: 40px 20px 0px 20px;
  background-repeat: no-repeat;
  /*background-image: url("../images/notewelMyNotewelBackground.png");*/
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
  grid-gap: 20px;
}


/*!*user info desktop*!*/
/*.structurizedNotewelCollection-owner {*/
  /*!*display: flex;*!*/
  /*!*margin: 40px 10px 40px 60px;*!*/
  /*height: 90%;*/
  /*position: absolute;*/
  /*left: 50px;*/
  /*top:120px;*/
/*}*/

.notewels-owner-info {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  background-color: #464646;

  /*height: %;*/


  -webkit-box-shadow: -1px -1px 10px -1px rgba(0,0,0,0.51);
  -moz-box-shadow: -1px -1px 10px -1px rgba(0,0,0,0.51);
  box-shadow: -1px -1px 10px -1px rgba(0,0,0,0.51);
}


.follow-following {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 0px 20px;
  color: white;
}

.followers {
  /*background-color: #333333;*/
  height: 100%;
}

.follower {
  font-size: 15px;
  display: flex;
 padding: 20px;
  border-bottom: solid 2px #464646;
  border-left:solid 2px #1fca23;
}


.following-inst {
  font-size: 15px;
  display: flex;
  padding: 20px;
  border-bottom: solid 2px #464646;
  border-left:solid 2px red;
}

.follower-avatar {
  margin: 0px;
  width: 50px;
  height: 35px;
}

.followers-content {
  margin: 7px;
  background-color: #333333;
}


.follower-name {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 15px;
}

.follower-name:hover {
  text-decoration: none;

  color: #1fca23;
}

.followers-nofollowers {
  display: flex;
  justify-content: center;
  opacity:0.7;
  padding: 20px;
  color: white;
}

.notewel-active {
  font-size: 19px !important;
  opacity: 1 !important;
  /*border-bottom: solid 2px #1fca23;*/
}

.notewel-tabs div {
  cursor: pointer;
  font-size: 14px;
  opacity: 0.8;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-bottom: 10px;
  /*justify-content: space-between;*/
  margin: 7px 7px 7px 7px;
  background-color: #333333;
  height: 25%;
}

.icon{
  margin: 10px 0px 0px 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 20px 0px 20px;
  color: white;
}

.info-userinfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-userinfo div:first-child {
  font-size: 20px;
}

.info-userinfo div:last-child {
  opacity: 0.6;
}

.follow-button {
  display: flex;
  align-self: center;
  cursor: pointer;
}

.follow-button img {

  width: 20px;
  height:20px;
  margin: 0px;
}




.edit-profile {
  padding: 5px;
  background-color: #1fca23;
}

/*.add-notewel-button {*/
  /*font-size: 20px;*/
  /*color: white;*/
  /*background-color:#1fca23;*/
  /*height:10%;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
/*}*/

.notewels-owner-wrapper {
}


.notewels-owner-username {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}


.add-notewel {
  height: inherit;
  background-color: #333333;
  /*background-color: red;*/
}

.friends {
  height: 40%;
  background-color: green;
}

.textarea-container {
  height: 85%;
  width: 100%;

}

.textarea-container > textarea {
  background-color: #333333;
  color: white;
  min-height: 150px;
  max-height: 300px;
  padding: 20px 20px 10px 20px;
  height: 85%;
  width: 100%;
 resize: none;
  border: none;
  overflow: hidden;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.addons {
  display: flex;
  justify-content: center;
  color: red;

  height:13%;
}


.choose-styles-options {

}
.add-notewel-button {
  /*background-image: url("../images/sendIcon.png");*/
  background-color: #333333;
  border: none;
  padding: 10px;
  color:  #FF8740;
}

/*.notewel-rows-container {*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*padding: 32px 20px 0px 20px;*/

/*}*/

/*.notewel-row-container {*/
  /*margin-top: 10px;*/
  /*height: 35% !important;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*flex-direction: row;*/
/*}*/

/*NOTEWEL INSTANCE*/
/*.notewel {*/
  /*!*transition: width 2s;*!*/

  /*!*right: 100px;*!*/
  /*!*width: 100%;*!*/
  /*margin: 10px;*/
  /*max-width: 150%;*/
  /*min-width: 35%;*/
/*}*/


.notewels-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(2, minmax(100px, auto));

  grid-gap: 10px;
  /*grid-auto-flow: dense;/*/
}

.notewel {
  word-wrap: break-word;
  width:100%;
  height:100%;
  background-color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius:5px;
  -webkit-box-shadow: -1px -1px 10px -1px rgba(0,0,0,0.51);
  -moz-box-shadow: -1px -1px 10px -1px rgba(0,0,0,0.51);
  box-shadow: -1px -1px 10px -1px rgba(0,0,0,0.51);
}



/* SMALL NOTEWEL STYLE */
.small-notewel {
  border-top:solid 3px #FF7373;
  font-size: 25px;
  grid-row: span 1;
}

.notewel-header-small {
  padding: 10px 0px 5px 10px;
  font-size: 17px;
  border-bottom: solid 1px #464646;
  height: 30%;
  display: flex;
}

.notewel-header-small img {
  margin: 0px;
  width: 45px;
  height:34px;
}

.notewel-body-small {
  height: 51%;
  padding: 10px 20px 20px 20px;
  border-bottom: solid 1px #464646;
}
/**/

/* BIG NOTEWEL STYLE */
/*.big-notewel {*/
  /*font-size: 16px;*/
  /*!*grid-row-end: span2;*!*/
  /*grid-row: span 3;*/
/*}*/

/*.notewel-header-big{*/
  /*padding: 10px 0px 5px 10px;*/
  /*font-size: 17px;*/
  /*border-bottom: solid 1px #464646;*/
  /*height: 14%;*/
  /*display: flex;*/
/*}*/

/*.notewel-header-big img {*/
  /*margin: 0px;*/
  /*width: 45px;*/
  /*height:34px;*/
/*}*/


/*.notewel-body-big {*/
  /*height: 77%;*/
  /*padding: 20px;*/
  /*border-bottom: solid 1px #464646;*/
/*}*/
/*!**!*/

/* MEDIUM NOTEWEL STYLE */
.medium-notewel {
  border-top: solid 3px #FF8740;
  font-size: 16px;
  grid-row: span 2;
}


.notewel-header-medium {
  padding: 10px 0px 5px 10px;
  font-size: 17px;
  border-bottom: solid 1px #464646;
  height: 25%;
  display: flex;
}

.notewel-header-medium img {
  margin: 0px;
  width: 45px;
  height:34px;
}

.notewel-body-medium {
  height: 62%;
  padding: 20px;
  border-bottom: solid 1px #464646;
}



/**/

.user-notewels {
  grid-column-end: span 3;
}



.notewel-header-user-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 15px;
}

.notewel-header-creation-date {
  font-size: 12px;
  opacity: 0.6;
}


.notewel-action {
  display: flex;
  justify-content: flex-end;
}

.notewel-action-like {
  padding: 6px;
  display: flex;
  flex-direction:row;
}
.notewel-action-like-counter {
  font-size: 15px;
  padding-right:3px;
}

.action-icon {
  margin: 0px 5px 0px 5px;
  width: 20px;
  height:20px;
}


.head-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20%;
  margin-top: 0px;
  /*background-color: rgb(94,170,94);*/
  /*border-bottom: solid 1px #333333;*/
  color: black
}

.head-info-2 {
  display: flex;
  justify-content: center;

  color: #333333;
  margin: 5px;
}

.head-info-2 div:first-child {
  opacity: 1;
  font-size: 15px;
  margin-top: 0px;
}

.body {
  height: 80%;
}

.body-content {
  height: 80%;
  padding: 10px;
}

.body-content-text {
  color: white;
  opacity: 0.9;
  word-wrap: break-word;
  font-size: 20px;
}

.body-actions {
  display: flex;
  justify-content: flex-end;
  height: 18%;
}

.head-icon{
  margin: 5px 5px 0px 5px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}


.ng-scope {
  height: 100% ;
}

.info-min {
  display:flex;
  flex-direction: row;
}

.delete > img {
  margin: 5px 5px 0px 0px;
  width: 20px;
  height: 20px;
}
