<div class="chat-container">


  <div class="chat-container__mychats">

    <div class="chat-container__search">
      <input placeholder="Search">
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>
    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>
    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>
    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>

    <div class="chat-container__mychats-chat">
      <img class="chat-container__mychats-chat-avatar" src="../images/noteWelLogo.png" >
      <div class="chat-container__mychats-chat-content">
        <div class="chat-container__mychats-chat-header">
          GodOfMadness
        </div>
        <div class="chat-container__mychats-chat-body">
          Hi there! Was so nice to meet you again
        </div>
      </div>
    </div>






  </div>



  <!--<div class="chat-container__current-chat-header-zone"> </div>-->
  <div class="chat-container__current-chat-chat-zone">

  <div class="recieved-container message-container">
    <div class="chat-message not-my-message">
      <div class="chat-message-body">kjdaklsjdklasjlk</div>
    </div>
  </div>


  <div class="sended-container message-container">
    <div class="chat-message my-message">
      <div class="chat-message-body">kjdaklsjdklasjlk</div>
    </div>
  </div>

    <div class="recieved-container message-container">
      <div class="chat-message not-my-message">
        <div class="chat-message-body">kjdadasdjasdlkjasldk sajdkl asjdljasldj aslkdjlasjdla jsldklsjdklasjlk</div>
      </div>
    </div>


    <div class="sended-container message-container">
      <div class="chat-message my-message">
        <div class="chat-message-body">kjda adslja slkdjalksjdlkasjdkl ajsdj asl djlaksdj lklsjdklasjlk</div>
      </div>
    </div>


    <div class="sended-container message-container">
      <div class="chat-message my-message">
        <div class="chat-message-body">kjda adslja sldasdasdasdasdkdjalksjdlkasjdkl ajsdj asl djlaksdj lklsjdklasjlk</div>
      </div>
    </div>
    <div class="sended-container message-container">
      <div class="chat-message my-message">
        <div class="chat-message-body">kjda adslja slkdasdasdasdsadjalksjdlkasjdkl ajsdj asl djlaksdj lklsjdklasjlk</div>
      </div>
    </div>
    <div class="sended-container message-container">
      <div class="chat-message my-message">
        <div class="chat-message-body">kjda adsldasasasd ajsdj asl djlaksdj lklsjdklasjlk</div>
      </div>
    </div>
    <div class="sended-container message-container">
      <div class="chat-message my-message">
        <div class="chat-message-body">kjda ad ajsdj asl djlaksdj lklsjdklasjlk</div>
      </div>
    </div>

    <div class="sended-container message-container">
      <div class="chat-message my-message">
        <div class="chat-message-body">kjda das ajsdj asl djlaksdj lklsjdklasjlk</div>
      </div>
    </div>
    <div class="sended-container message-container">
      <div class="chat-message my-message">
        <div class="chat-message-body">kjda adsad</div>
      </div>
    </div>


    <div class="recieved-container message-container">
      <div class="chat-message not-my-message">
        <div class="chat-message-body">kjdadasdjasdlkdklasjlk</div>
      </div>
    </div>

    <div class="recieved-container message-container">
      <div class="chat-message not-my-message">
        <div class="chat-message-body">kjdadasdjsadasdasdasdlkjasldk sajdkl asjdljasldj aslkdjlasjdla jsldklsjdklasjlk</div>
      </div>
    </div>

    <div class="recieved-container message-container">
      <div class="chat-message not-my-message">
        <div class="chat-message-body">kjdadasdjasdlkjalasjdla jsldklsjdklasjlk</div>
      </div>
    </div>

    <div class="recieved-container message-container">
      <div class="chat-message not-my-message">
        <div class="chat-message-body"> sajdkl asjdljasldj aslkdjlasjdla jsldklsjdklasjlk</div>
      </div>
    </div>







  </div>
  <div class="chat-container__current-chat-type-zone">
    <textarea> </textarea>
  </div>
</div>
