<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="main-container row">


    <div class="login-container">

        <form class="login-form" ng-submit="logIn()" name="loginForm">
          <div class="login-label"> Sign in </div>
          <div class="input-container">

            <input type="text" name="username" ng-model="usernameOfEmail" placeholder="Enter username or email" required>

            <input type="password" name="password" ng-minlength="6" ng-model="password" placeholder="Enter password" required>

            <!--<input type="password" name="confirm" ng-model="confirm" placeholder="Confirm password" required>-->


          </div>

          <div class="login-actions">
            <button class="log-in" type="submit">Sign In</button>
            <div class="other-actions">
              <a ng-href='#/registration' class="sign-up">Sign Up</a>
              <a class="recover-password">Forgot password?</a>
            </div>
          </div>

        </form>
    </div>


</div>

</body>
</html>
