<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="main-container row">


    <div class="login-container" >

        <form class="login-form">
          <div class="login-label"> Sign in </div>
          <div class="input-container">

              <input type="text" placeholder="Enter username">


              <input type="text" placeholder="Enter password">


              <input type="text" placeholder="Confirm password">

          </div>

          <div class="login-actions">
            <button class="log-in" type="submit">Sign In</button>
            <div class="other-actions">
              <a ng-href='user' class="sign-up">Sign Up</a>
              <div class="recover-password">Forgot password?</div>
            </div>
          </div>

        </form>
    </div>


</div>

</body>
</html>
